:root {
    --lightBlue:'#5e44ff',
    --darkBlue:'#1d0642',
    --darkText:'#434343',
    --lightText:'#595959',
    --buttonBackground: '#f2f0ff',
    --border:'#eaeaea',
    --black:'#191919',
    --separator:'#f0f0f0'
  }